<%= form_for @order_item do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :quantity, "How many #{@order_item.product.title} do you want?" %><br />
    <%= f.text_field :quantity %>
  </p>
  <p><%= f.submit %></p>
<% end %>
