<!DOCTYPE html>
<html>
  <head>
    <title>JSMerchant: <%= controller.action_name %></title>
    <%= stylesheet_link_tag "styles" %>
    <%= javascript_include_tag :defaults %>
    <%= csrf_meta_tag %>
    <%= yield(:head) %>
  </head>
  <body>
    <% flash.each do |name, msg| %>
      <%= content_tag :div, msg, :id => "flash_#{name}", :class => "flash" %>
    <% end %>

    <div id="account">
      <% if current_user %>
        <span>Welcome <%= current_user %>!</span>
        <%= link_to "logout", logout_path %>
      <% else %>
        <%= link_to "login", login_path %>
      <% end %>
    </div>

    <div class='header'>
      <h1><%= link_to "FoodWorks", products_path, :style => "color:white;text-decoration:none;" %></h1>
      <p>Your Online Grocery</p>
    </div>
    <div class="main">
      <%= yield %>
    </div>
    <div class="footer">
      <%= link_to "FoodWorks", products_path %>
    </div>
  </body>
</html>
